.sidebar_search{
background:url(images/123/sidebar_menu_top.gif) no-repeat center;
width:195px;
height:31px;
margin:0 0 5px 0;
}
input.search_input{
width:155px;
height:16px;
margin:5px 0 0 5px;
border:1px #bdebfd solid;
background:#92dbf8;
padding:4px 0 0 2px;
float:left;
color:#096184;
font-size:11px;
}
input.search_submit{
float:left;
background:none;
border:none;
margin:7px 0 0 8px;
}

